md-content(layout="row", flex="", layout-gt-sm="row", layout-align="center start", layout-fill="", layout-margin="")
  md-whiteframe.md-whiteframe-z2(layout="column", flex="", layout-fill="")
    md-toolbar.md-primary.md-tall(layout-align="end", layout-fill="")
      div.md-toolbar-tools.md-toolbar-tools-bottom(layout="row")
        h5 欢迎加入 {{appName}}
    div(layout="row", flex , layout-fill, layout-padding)
      form(name="registerForm", ng-submit="register.register()")
        md-input-container(layout="column")
          input(type="text", ng-model="register.credentials.username", placeholder="姓名", aria-label="称呼(姓名)", required, md-autofocus)
        md-input-container(layout="column")
          input(type="text", ng-model="register.credentials.company", placeholder="公司名称", aria-label="公司名", ng-required='register.credentials.username != "admin"')
        md-input-container(layout="column")
          input(type="text", ng-model="register.credentials.phone", placeholder="手机号码", aria-label="手机", required)
        input.md-button.md-raised.md-primary(type='submit', value='确定', aria-label="确定")
