.dropbox
    background: #F8F8F8
    border: 5px dashed #DDD
    width: 256px
    height: 256px
    text-align: center
    padding: 5px 5px
    margin-left: 10px

.progress div
  font-size: smaller
  background: orange
  width: 0

md-grid-tile-footer
  margin: 0
  font-weight: 700
  width: 100%
  text-align: center